# torch
--index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
torchshow
torchviz
torchinfo
torchmetrics
pytorch-lightning
captum
timm
# machine learning
scikit-learn
mlxtend
kornia
# images
opencv-python-headless
scikit-image
Pillow
# visualization
seaborn
matplotlib
# misc
gdown
notebook
numpy
pandas
